# Desactivar archivos secundarios y documentación del recuento
*.js linguist-detectable=false
*.json linguist-detectable=false
*.md linguist-documentation

# Forzar la detección de SQL genérico como código principal
*.sql linguist-language=SQL
*.sql linguist-detectable=true
